@keyframes do-modal-in {
	from {
		transform: translateY(2rem);
	}

	to {
		transform: translateY(0);
	}
}

@keyframes do-modal-out {
	from {
		transform: scale(1);
	}

	to {
		transform: scale(0.9);
	}
}

@keyframes do-modal-out-mobile {
	from {
		transform: translateY(0);
	}

	to {
		transform: translateY(2rem);
	}
}

.do-modal {
	--do-modal-max-inline-size: 30rem;
	--do-modal-max-block-size: 70rem;
	--do-modal-min-inline-size: 18rem;
}

.do-modal {
	animation: do-modal-in 0.2s ease-out forwards;
	max-block-size: min(
		/* account for additional margin bottom on mobile */
			calc(100% - 2rem - 3rem),
		var(--do-modal-max-block-size)
	);
	max-inline-size: min(calc(100% - 2rem), var(--do-modal-max-inline-size));
	min-inline-size: var(--do-modal-min-inline-size);
	transition: opacity 0.2s linear, transform 0.2s ease;

	@media (width <= 32rem) {
		/*
    On mobile we place the dialog at the bottom of the screen
    so that it is easier for the user to interact with it. */
		margin-bottom: 3rem;
	}

	&:not([open]) {
		animation: do-modal-out 0.2s ease-in forwards;
		opacity: 0;
		pointer-events: none;
		transition: opacity 0.2s linear, visibility 0s 0.2s linear,
			transform 0.2s ease;
		visibility: hidden;

		@media (width <= 32rem) {
			/*
      On mobile, since the dialog is placed at the bottom of the screen,
      we transition it out slightly differently than on wide view ports. */
			animation-name: do-modal-out-mobile;
		}
	}

	&::before {
		transform: scale(99); /* scalehack required due to animation */
	}

	&::backdrop {
		backdrop-filter: blur(5px);
	}
}
