@keyframes do-loading {
	0% {
		opacity: 0;
	}

	8% {
		opacity: 1;
	}

	50% {
		opacity: 1;
	}

	60% {
		transform: translateY(2rem) rotate(0.1turn);
		opacity: 0;
	}

	100% {
		transform: translateY(2rem) rotate(0.1turn);
		opacity: 0;
	}
}

.loading {
	display: flex;
	flex-direction: column;
	position: relative;
	width: 8.2ch;

	span {
		animation: do-loading 1.6s cubic-bezier(0.64, 0, 0.78, 0) forwards infinite;
		position: absolute;

		&:nth-child(2) {
			animation-delay: 0.15s;
			left: 1.2ch;
		}

		&:nth-child(3) {
			animation-delay: 0.35s;
			left: 2.4ch;
		}

		&:nth-child(4) {
			animation-delay: 0.4s;
			left: 3.6ch;
		}

		&:nth-child(5) {
			animation-delay: 0.6s;
			left: 4.8ch;
		}

		&:nth-child(6) {
			animation-delay: 0.65s;
			left: 5.7ch;
		}

		&:nth-child(7) {
			animation-delay: 0.8s;
			left: 7.2ch;
		}
	}
}
